<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>忘记密码 - Kmall在线商城</title>
		#ICON()
		#CSSM(["ext", "nav", "bootstrap", "conflict"])
		#UA()
	</head>
	<body>
		<div class="global-reset global-container global-type-global">
    		#parse("/kmall/framework/top.vm")
			<div class="global-common-a">
				<div class="global">
					<div class="global-header fn-clear">
						<div class="global-header-content">
							<div class="global-logo">
                                <a herf="#"></a>
                            </div>
                            <div class="global-logo-neighbor"></div>
							<ul class="global-nav">
								<li class="global-nav-item global-nav-item-current"><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
        </div>

		<div class="container">
			<div class="modal-dialog">
    			<div class="modal-content">
        			<div class="modal-header">
        				<h4 class="modal-title">忘记登录密码</h4>
        			</div>
					<div class="modal-body">
						<div class="progress">
            				<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
								 1. 输入登录帐号
            				</div>
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
								 2. 发送链接到注册邮箱
            				</div>
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
								 3. 完成重置密码
            				</div>
            			</div>
						
            			<form class="form-horizontal" role="form" method="post">
							#if($!stringUtil.isNotEmpty($!{successMessage}))
        					<div class="form-group" style="padding: 0 15px;">
                				<div class="alert alert-danger alert-dismissible" style="padding: 5px 28px 5px 15px;" role="alert">
            						<button type="button" class="close" data-dismiss="alert">
            							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            						</button>
            						$!{successMessage}
            					</div>
                            </div>
        					#end
    						<div class="form-group">
    							<label class="col-md-3 control-label">登录帐号</label>
            					<div class="col-md-6">
            						<input type="text" class="form-control" name="passport" value="$!{passport}" placeholder="必填" />
                                </div>
                            </div>
                        </form>
                    </div>
        			<div class="modal-footer">
        				<a class="btn btn-primary" id="btn" data-loading-text="正在发送..." href="javascript:sendCheckCode();">发送验证码</a>
        			</div>
                </div>
          	</div>
        </div>
		#parse("/kmall/framework/footer.vm")
		
		#JSM(["ext", "jquery", "bootstrap"])
        #JS_ENV_VAL()
    	<script type="text/javascript" src="$!{env.imgUrl}/js/kmall/portal/forgetPassword.js"></script>
	</body>
</html>
