<!DOCTYPE html>
<html>
    <head>
		<title>密码</title>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		#ICON()
        #CSSM(["ext", "bootstrap", "conflict"])
		#UA()
	</head>
	<body>
		<div class="container">
			<div class="modal-header">
				<h4 class="modal-title">密码修改</h4>
			</div>
			<form class="modal-body form-horizontal" role="form" method="post">
				<div class="form-group">
					<label class="col-xs-2 control-label text-right">原密码</label>
    				<div class="col-xs-4">
    					<input type="password" class="form-control" id='O_Pwd' name="oldPassword" placeholder="必填" />
                    </div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label text-right">新密码</label>
    				<div class="col-xs-4">
    					<input type="password" class="form-control" id='J_Pwd' name="password" placeholder="请输入6位及以上的密码" />
                    </div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label text-right">确认密码</label>
    				<div class="col-xs-4">
    					<input type="password" class="form-control" id='J_RePwd' placeholder="请确认两次输入的密码相同" />
                    </div>
				</div>
				<input type='hidden' name='checkCode' value="$!{checkCode}" />
            </form>
			<div class="modal-footer">
				<a class="btn btn-primary" href="javascript:renewPassword();">确认修改密码</a>
				<a class="btn btn-default" href="javascript:window.close();">取消</a>
			</div>
		</div>
		<iframe id="hideFrame" name="hideFrame" style="display:none"></iframe>
		#JSM(["common", "ext", "jquery"])
		#JS_ENV_VAL()
		<script type="text/javascript" src="$!{env.imgUrl}/js/xplatform/login/resetPassword.js"></script>
	</body>
</html>
