<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>忘记密码 - Kmall在线商城</title>
		#ICON()
		#CSSM(["ext", "nav", "bootstrap", "conflict"])
		#UA()
	</head>
	<body>
		<div class="global-reset global-container global-type-global">
    		#parse("/kmall/framework/top.vm")
			<div class="global-common-a">
				<div class="global">
					<div class="global-header fn-clear">
						<div class="global-header-content">
							<div class="global-logo">
                                <a herf="#"></a>
                            </div>
                            <div class="global-logo-neighbor"></div>
							<ul class="global-nav">
								<li class="global-nav-item global-nav-item-current"><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
        </div>

		<div class="container">
			<div class="modal-dialog">
    			<div class="modal-content">
        			<div class="modal-header">
        				<h4 class="modal-title">忘记登录密码</h4>
        			</div>
					<div class="modal-body">
						<div class="progress">
            				<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
								 1. 输入登录帐号
            				</div>
							<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
								 2. 发送链接到注册邮箱
            				</div>
							<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
								 3. 完成重置密码
            				</div>
            			</div>
						
            			<form class="form-horizontal" role="form" method="post">
							<div class="form-group">
    							<label class="col-md-3 control-label">新密码</label>
            					<div class="col-md-6">
            						<input type="password" class="form-control" id="J_Pwd" name="password" placeholder="密码长度在6~20个字符" autofocus />
                                </div>
                            </div>
    						<div class="form-group">
    							<label class="col-md-3 control-label">确认密码</label>
            					<div class="col-md-6">
            						<input type="password" class="form-control" id="J_RePwd" placeholder="请确认两次输入的密码相同" />
                                </div>
                            </div>
							<input type='hidden' name='checkCode' value="$!{checkCode}" />
                        </form>
                    </div>
        			<div class="modal-footer">
        				<a class="btn btn-primary" id="btn" data-loading-text="正在提交..." href="javascript:updatePassword();">确认重置密码</a>
        			</div>
                </div>
          	</div>
        </div>
		#parse("/kmall/framework/footer.vm")
		
		<iframe id="hideFrame" name="hideFrame" style="display:none"></iframe>
		#JSM(["ext", "jquery"])
		#JS_ENV_VAL()
		<script type="text/javascript" src="$!{env.imgUrl}/js/kmall/portal/setPassword.js"></script>
	</body>
</html>
