<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="pageviewTask"
		class="com.jk.mall.monitor.task.PageviewTask">
		<property name="memcachedCacheService" ref="memcachedCacheService" />
		<property name="pageviewService" ref="pageviewService" />
	</bean>

	<bean id="pageviewJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="pageviewTask" />
		</property>
		<property name="targetMethod">
			<value>pageview</value>
		</property>
	</bean>

	<bean id="pageviewTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="pageviewJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 0/30 * * * ?</value>
		</property>
	</bean>
	
</beans>