<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>服务协议</title>
		#ICON()
        #CSSM(["bootstrap"])
		<style>
		body { padding-top: 70px; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<a class="navbar-brand glyphicon glyphicon-chevron-left" href="javascript:history.go(-1);"></a>
			<div class="navbar-brand pull-right">服务协议</div>
        </nav>
		<textarea class="form-control" style="background-color: white; color: black; margin-top: -20px;" rows="330" disabled>
        本协议为您与今世缘（今世缘微信平台公众号： 今世缘酒业）管理者之间所订立的契约，具有合同的法律效力，请您仔细阅读。
        
        一、本协议内容、生效、变更
        
        1.	本协议内容包括协议正文及所有今世缘已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何今世缘及其关联公司提供的服务（以下成为今世缘微信平台服务）均受本协议约束。
        
        2.	本协议中，“用户”、“会员”为买方的统称，是指在今世缘微信平台上注册的会员。
        
        3.	您应当在使用今世缘微信平台服务之前认证阅读全部协议内容。如您对本协议有任何疑问，应向今世缘咨询。您在同意所有协议条款并完成注册程序，才能成为今世缘微信平台的正式用户，您点击“我已经阅读并同意遵守《今世缘用户协议》”按钮后，本协议即生效，对双方产生约束力。
        
        4.	只要您使用今世缘微信平台服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得今世缘对您的问询的解答等理由，主张本协议无效，或要撤销本协议。
        
        5.	您确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。
        
        6.	您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用今世缘微信平台服务。
        
        7.	今世缘有权根据需要不定期地制订、修改本协议及/或各类规则，并在今世缘微信平台公示，不再另行单独通知用户。变更后的协议和规则一经在平台上公布，立即生效。如您不同意相关变更，应立即停止使用今世缘微信平台服务。您继续使用今世缘微信平台服务的，即表明您接受修订后的协议和规则。
        
        二、注册
        
        1.	注册资格
        用户须具有法定的相应权利能力和行为能力的自然人、法人或其他组织，能够独立承担法律责任。您   完成注册程序或其他今世缘微信平台同意的方式实际使用本平台服务时，即视为您确认自己具备主体资格，能够独立承担法律责任。若因您不具备主体资格，而导致的一切后果，由您及您的监护人自行承担。
        
        2.	注册资料
        2.1用户应自行诚信向本平台提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且今世缘保留终止用户使用本平台各项服务的权利。
        
        2.2用户在本平台进行浏览、下单购物等活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本平台将予以严格保密，除非得到用户的授权或法律另有规定，本平台不会向外界披露用户隐私信息。
        
        3.	账户
        3.1您注册成功后，即成为今世缘微信平台的会员，将持有今世缘微信平台唯一编号的会员名和密码等账户信息，您可以根据本平台规定改变您的密码。
        
        3.2您设置的会员名不得侵犯或涉嫌侵犯他人合法权益。否则，今世缘有权终止向您提供今世缘微信平台服务，注销您的账户。账户注销后，相应的会员名将开放给任意用户注册登记使用。
        
        3.3您应谨慎合理的保存、使用您的会员名和密码，应对通过你的会员名和密码实施的行为负责。除非有法律规定或司法裁定，且征得今世缘的同意，否则，会员名和密码不得以任何方式转让、赠与或继承（与账户相关的财产权益除外）。
        
        3.4用户不得将在本平台注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。
        
        3.5如果发现任何非法使用等可能危及您账户安全的情形时，您应当立即以有效方式通知今世缘，要求今世缘暂停相关服务，并向公安机关报案。您理解今世缘对您的请求采取行动需要合理时间，今世缘对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。
        
        3.6为方便您使用今世缘微信平台服务及今世缘关联公司或其他组织的服务（以下简称其他服务），您同意并授权今世缘将您在注册、使用今世缘微信平台服务过程中提供、形成的信息传递给您提供其他服务的今世缘关联公司或其他组织，或从提供其他服务的今世缘关联公司或其他组织获取您在注册、使用其他服务期间提供、形成的信息。
        
        4.	用户信息的合理使用
        4.1您同意，今世缘微信平台拥有通过微信、邮件、短信、电话等形式，向在本平台注册、购物用户、收货人发送订单信息、促销信息等告知信息的权利。
        
        4.2您了解并同意，今世缘有权应国家司法、行政主管部门的要求，向其提供您在今世缘微信平台填写的注册信息和交易记录等必要信息。如您涉嫌侵犯他人知识产权，则今世缘亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。
        
        4.3用户同意，今世缘有权使用用户的注册信息、用户名、密码等信息，登陆进入用户的注册账户，进行证据保全，包括但不限于公正、见证等。
        
        三、今世缘微信平台服务规范
        
        1.	通过今世缘及其关联公司提供的今世缘微信平台服务和其它服务，会员可在今世缘微信平台上查询商品和服务信息、达成交易意向并进行交易、将信息分享到朋友圈、对商品进行评价、参加今世缘组织的活动以及使用其它信息服务及技术服务。
        
        2.	在今世缘微信平台上使用今世缘提供的服务过程中，您同意严格遵守以下义务：
        
        2.1不得传输或发表损害国家、社会公共利益和涉及国家安全的信息资料或言论；
        
        2.2不利用本平台从事窃取商业秘密、窃取个人信息等违法犯罪活动；
        
        2.3不采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为；
        
        2.4不发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；
        
        2.5不虚构或歪曲事实的方式不当评论商品或其他会员；
        
        2.6不对今世缘微信平台上的任何数据作商业性利用，包括但不限于在未经今世缘事先书面同意的情况下，以复制、传播等任何方式使用今世缘微信平台上展示的资料。不使用任何装置、软件或程序干预今世缘微信平台的正常运营。
        
        2.7今世缘保有删除平台内各类不符合法律政策或不真实的信息内容而无须通知用户的权利；
        
        2.8您同意，若您未遵守以上规定的，今世缘有权作出独立判断并采取暂停或关闭用户账号、订单等措施；
        
        2.9经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者今世缘根据自身判断，认为您的行为涉嫌违反本协议/或规则的条款或涉嫌违反法律法规的规定的，则今世缘有权在本平台上公示您的涉嫌违法或违约行为及今世缘已对您采取的措施；
        
        2.10对于您在今世缘微信平台上发布的涉嫌违法或侵犯他人合法权利或违反本协议和/或规则的信息，今世缘有权不经通知您即予以删除，且按照规则的规定进行处罚；
        
        2.11对于您在今世缘微信平台上实施的行为，包括您未在今世缘微信平台上实施单已经对今世缘微信平台及其用户产生影响的行为，今世缘有权单方面认定您行为的性质是否构成对本协议和/或规则的违反，并采取暂停或关闭用户账号及其他措施；
        
        2.12对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保今世缘免于因此产生损失或增加费用；
        
        2.13如您涉嫌违反有关法律或者本协议之规定，使今世缘遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿今世缘因此造成的损失及（或）发生的费用，包括合理的律师费用。
        
        四、订单
        
        1.	在本平台购物的用户，请您仔细确认所购商品的名称、价格、数量、型号、规格等信息。因平台上展示的商品和价格等信息仅仅是要约邀请，您下单时须完整填写您希望购买的商品数量、价款及支付方式、收货人、联系方式、收货地址等内容。
        
        2.	系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向今世缘发出的合同要约；今世缘收到您的订单信息后，将订单中的商品从仓库实际向您发出时（以商品出库为标志），方视为您与今世缘就实际发出的商品建立了合同关系；如果一份订单里订购了多种商品并且今世缘只给您发出了部分商品时，您与今世缘之间仅就实际向您发出的商品建立了合同关系。
        
        3.	您了解并同意，本平台上的商品、价格、数量、是否有货等商品信息随时可能发生变动，本平台不作特别通知。由于互联网技术原因导致网页显示信息可能会有一定的滞后性或差错，对此在合同未成立前，您接受本平台在发现网页错误，正式向您发出通知后，对商品信息进行调整，订单按照正确的信息执行，或取消订单。
        
        4.	您可以随时登陆您在本平台注册的账户，查询您的订单状态。
        
        5.	您了解并同意，如您购买商品，发生缺货，您有权取消订单；本平台无法保证您提交的订单信息中希望购买的商品都会有货。
        
        6.	今世缘、今世缘关联公司、今世缘经销商或终端门店将会把商品（货物）送到您所指定的收货地址。您了解本平台所提示的送货时间供参考，实际送货会与参考时间略有差异。今世缘微信平台管理者和所有者或其关联公司不对因您及收货人原因导致无法送货或延迟送货承担责任。若发生不可抗力或其他正当合理理由导致发货延迟的，您将给与充分理解。
        
        五、责任范围和责任限制
        
        1.	本平台作为您进行了解、咨询、协商、交易的场所，今世缘确保平台上商品的真实性、合法性。
        
        2.	今世缘在接到您投诉、主管机关通知或按照法律法规规定，有合理的理由认为特定会员及具体交易事项可能存在重大违法或违约情形时，今世缘可依约定或依法采取相应措施。
        
        3.	您了解并同意，今世缘不对因下述任一情况而导致您的任何岁还承担赔偿责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿：
        
        3.1第三方未经批准的使用您的账户或更改您的数据；
        
        3.2您对今世缘微信平台服务的误解；
        
        3.3任何非因今世缘的原因而引起的与今世缘微信平台服务有关的其它损失。
        
        4.	由于法律规定的不可抗力，信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，劳动争议，生产力或生产资料不足，司法行政机关的命令或第三方的不作为及其他平台无法控制的原因造成的本平台不能服务或延迟服务、丢失数据信息、记录的，今世缘不承担责任，但今世缘将协助处理相关事宜。
        
        六、协议终止
        
        1	您同意，今世缘有权自行全权决定以任何理由不经事先通知的中止、终止向您提供部分或全部今世缘微信平台服务，暂时冻结或永久冻结（注销）您的账户，且无须为此向您或任何第三方承担人任何责任。
        
        2	出现以下情况时，今世缘有权直接以注销账户的方式终止本协议：
        
        2.1今世缘终止向您提供服务后，您涉嫌再一次直接或间接或以他人名义注册为今世缘用户的；
        
        2.2您注册信息中的主要内容不真实或不准确或不及时或不完整；
        
        2.3本协议（含规则）变更时，您明示并通知今世缘不愿意接受新的服务协议的；
        
        2.4其它今世缘认为应当终止服务的情况。
        
        3	您有权向今世缘要求注销您的账户，经今世缘审核同意的，今世缘注销（永久冻结）您的账户，届时，您与今世缘基于本协议的合同关系即终止。您的账户被注销（永久冻结）后，今世缘没有义务为您保留或向您披露账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。
        
        4	您同意，您与今世缘的合同终止后，今世缘仍享有下列权利：
        
        4.1继续保存您的注册信息及您使用今世缘微信平台服务期间的所有交易信息；
        
        4.2您在使用今世缘微信平台服务期间存在违法行为或违反本协议和/或规则的行为的，今世缘仍可依据本协议向您主张权利。
        
        七、法律适用、管辖与其他
        
        1	本协议包含您使用今世缘微信平台需遵守的一般性规范，您在使用今世缘微信平台时还需遵守适用于该平台的特殊性规范。一般性规范如与特殊性规范不一致或有冲突，则特殊性规范具有优先效力。
        
        2	本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。
        
        3	因本协议履行过程中，因您使用今世缘微信平台服务产生争议应由今世缘与您沟通并协商处理。协商不成，双方均同意以今世缘微信平台管理者住所地人民法院为管辖法院。
		</textarea>
		
	</body>
</html>
