<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>商品信息</title>
		#ICON()
        #CSSM(["messenger", "bootstrap"])
		<style>
		body { padding-top: 70px; padding-bottom: 170px; }
		div { overflow: hidden; }
		hr { margin-top: 10px; margin-bottom: 10px; }
		.unchecked { border-radius: 2px; border: 1px solid gray; padding: 4px; }
		.checked { border-radius: 2px; border: 2px solid #f60; padding: 4px; }
		.minus, .plus, .text { height: 29px; background-color: #fff; border: 1px solid #999; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<a class="navbar-brand glyphicon glyphicon-chevron-left" href="$!{env.appUrl}/shop/homepage.htm?alias=$!{uuid}"></a>
			<div class="navbar-brand pull-right">商品信息</div>
        </nav>
            
		<div id="step1">
			<div style="margin: -20px 0 20px 0;">
				<div class="media">
					#foreach($itemFile in $item.itemFileList)
					<img class="media-object" src="$!{itemFile.filePath}" style="width: 100%; height: 250px;" />
    				#end
    			</div>
            </div>
			
			<div style="margin-top: -15px;">
				<div class="col-xs-12">
					<h4>$!{item.itemName}</h4>
                    <span style="color: #f60; font-size: 20px;">¥&nbsp;$!{item.priceRange}</span>
					<del style="margin-left: 10px;">市场价：￥&nbsp;$!{item.originRange}</del>
                </div>
            </div>
			#if($item.specCatList)
			<hr />
			<div>
				<div class="col-xs-12">
					<dl class="dl-horizontal">
						#foreach($specCat in $item.specCatList)
						<dt><strong>$!{specCat.specCName}</strong></dt>
						<dd style="margin: 5px;" id="specItemValue$!{specCat.specCId}"></dd>
						#end
					</dl>
                </div>
            </div>
			#end
			<hr />
			<div class="col-xs-12">
				$!esc.htmlText($!{item.remark})
            </div>
			
    		<nav class="navbar navbar-default navbar-fixed-bottom text-center" role="navigation">
				<div style="margin: 10px;">
					#if($!{item.stock} == 0)
					<a class="btn btn-default" style="width: 100px;" disabled>商品已售罄</a>
					#else
					<a class="btn btn-success" style="width: 100px;" href="javascript:next('1');">立即购买</a>
					<a class="btn btn-warning" style="width: 100px;" href="javascript:next('0');">加入购物车</a>
					#end
                </div>
            </nav>
		</div>
		
		<div style="display: none; background-color: #fff; bottom: 0px; left: 0px; right: 0px; height: 360px; position: fixed; z-index: 1300;" id="step2">
			<div>
				<div class="col-xs-10">
					<h4>$!{item.itemName}</h4>
					#if($item.skuList)
					<span style="color: #f60; font-size: 17px;">¥&nbsp;<span id="price">请选择商品规格</span></span>
					<del style="margin-left: 10px;">市场价：￥&nbsp;<span id="origin"></span></del>
					<input type="hidden" id="checkSkuId" value='true' ></input>
					#else
					<span style="color: #f60; font-size: 17px;">¥&nbsp;<span id="price">$!{item.price}</span></span>
					<del style="margin-left: 10px;">市场价：￥&nbsp;<span id="origin">$!{item.origin}</span></del>
					<input type="hidden" id="checkSkuId" value='false' ></input>
					#end
                </div>
				<div class="col-xs-2">
                    <a style="font-size: 30px;" href="javascript:cancel();">&times;</a>
                </div>
            </div>
			#if($item.specCatList)
			<hr />
			<div>
				<div class="col-xs-12">
					<dl class="dl-horizontal">
						#foreach($specCat in $item.specCatList)
						<dt><strong>$!{specCat.specCName}</strong></dt>
						<dd style="margin: 5px;" id="specItem$!{specCat.specCId}"></dd>
						#end
                    </dl>
                </div>
            </div>
			#end
			<hr />
			<div>
				<div class="col-xs-12">
					<label style="font-size: 17px;">数量</label>
					<div style="height: 29px; float: right;">
						#if($item.skuList)
						<span class="small" style="margin-right: 10px;" id="stock"></span>
						#else
						<span class="small" style="margin-right: 10px;" id="stock">库存：$!{item.stock}</span>
						#end
						<input class="minus" style="border-radius: 2px 0 0 2px; width: 37px; margin-right: -3px; position: relative;" type="button" id="minus" value="-" ></input>
                        <input class="text" style="width: 43px; border-width: 1px 0 1px 0; padding: 10px; margin: -10px -4px -10px -4px;" type="text" id="text" value="1"></input>
						<input class="plus" style="border-radius: 0 2px 2px 0; width: 37px; margin-left: -3px; position: relative;" type="button" id="plus" value="+"></input>
                    </div>
                </div>
            </div>
			<hr />
			<div class="col-xs-12">
        		<a class="btn btn-success btn-block" id="btn" data-loading-text="正在处理..." href="javascript:addCart();">加入购物车</a>
            </div>
		</div>
		
		#foreach($sku in $item.skuList)
		<input type="hidden" id="sku$!{sku.properties}" value="$!{sku.skuId}" ></input>
		<input type="hidden" id="price$!{sku.properties}" value="$!{sku.price}" ></input>
		<input type="hidden" id="origin$!{sku.properties}" value="$!{sku.origin}" ></input>
		<input type="hidden" id="stock$!{sku.properties}" value="$!{sku.stock}" ></input>
		#end
		
		<input type="hidden" id="itemId" value="$!{itemId}" ></input>
		<input type="hidden" id="skuId" value="0" ></input>
		
		#JSM(["jquery", "messenger", "bootstrap"])
		#JS_ENV_VAL()
		<script type="text/javascript">
		var specCat = '$!{item.specCat}';
		var specItem = '$!{item.specItem}';
		var stock = '$!{item.stock}';
		var uuid = '$!{uuid}';
        </script>
		<script type="text/javascript" src="$!{env.imgUrl}/js/m/item/index.js?t=20140816"></script>
    </body>
</html>
