<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<title>订单信息</title>
		#ICON()
        #CSSM(["messenger", "bootstrap"])
		<style>
		body { padding-top: 70px; padding-bottom: 70px; }
		div { overflow: hidden; }
		hr { margin-top: 10px; margin-bottom: 10px; }
		p { margin: 0 0 3px; }
		.col-xs-3, .col-xs-4, .col-xs-8, .col-xs-9 { padding-right: 5px; padding-left: 5px; }
		</style>
		#UA()
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<a class="navbar-brand glyphicon glyphicon-chevron-left" href="javascript:history.go(-1);"></a>
			<div class="navbar-brand pull-right">订单信息</div>
        </nav>
		
		<div>
			<div>
				<div class="col-xs-12">
        			<label class="col-xs-3">下单时间</label>
                    <div class="col-xs-9"><p>$!{trade.createDate}</p></div>
                </div>
				#if($!{trade.payDate})
				<div class="col-xs-12">
        			<label class="col-xs-3">付款时间</label>
    				<div class="col-xs-9"><p>$!{trade.payDate}</p></div>
                </div>
				#end
				#if($!{trade.sendDate})
				<div class="col-xs-12">
        			<label class="col-xs-3">发货时间</label>
    				<div class="col-xs-9"><p>$!{trade.sendDate}</p></div>
                </div>
				#end
				#if($!{trade.signDate})
				<div class="col-xs-12">
        			<label class="col-xs-3">确认时间</label>
    				<div class="col-xs-9"><p>$!{trade.signDate}</p></div>
                </div>
				#end
				#if($!{trade.feedbackDate})
				<div class="col-xs-12">
        			<label class="col-xs-3">维权时间</label>
    				<div class="col-xs-9"><p>$!{trade.feedbackDate}</p></div>
                </div>
				#end
            </div>
			<hr />
			
			#foreach($order in $trade.orderList)
			<div>
        		<div class="col-xs-4">
    				<a class="pull-right" href="#">
    					#foreach($itemFile in $order.itemFileList)
                        <img class="img-thumbnail lazy" data-original="$!{itemFile.filePath}" style="width: 100px; height: 80px;" ></img>
    					#end
    				</a>
                </div>
    			<div class="col-xs-8">
    				<div style="height: 80px;">
    					<p><strong>$!{order.itemName}</strong></p>
						<div class="small">$!{order.propertiesName}</div>
						#if($!{order.price} == '0')
                        <div>积分 $!{order.points}</div>
						#else
						<div>￥ $!formatUtil.getAmountFormat($!{order.price})</div>
						#end
    					<div style="margin-left: 5px;">x $!{order.quantity}
							<span class="small" style="margin-left: 5px;"></span>
						</div>
                    </div>
                </div>
            </div>
			<hr />
			#end
			
			<div>
				<div class="col-xs-12">
        			<label class="col-xs-3">商品总价</label>
    				<div class="col-xs-9" style="color: #f60;">￥ $!formatUtil.getAmountFormat($!{trade.tradePrice})</div>
                </div>
            </div>
			<hr />
			
			#if($!{trade.receiverName})
			<div>
				<div class="col-xs-12">
        			<label class="col-xs-3">联系方式</label>
    				<div class="col-xs-9">
						<address id="addr">
                            <strong>$!{trade.receiverName} $!{trade.receiverTel}</strong><br />
                            $!{trade.receiverProvince} $!{trade.receiverCity} $!{trade.receiverArea}<br />
                            $!{trade.receiverAddress} $!{trade.receiverZip}<br />
                        </address>
                    </div>
                </div>
            </div>
			<hr />
			#end
			
			<div>
				<div class="col-xs-12 text-center">
					￥ $!formatUtil.getAmountFormat($!{trade.tradePrice})
					+$!formatUtil.getAmountFormat($!{trade.postage}) 运费
					#if($!{trade.change} != '0')
					$!formatUtil.getAmountFormat($!{trade.change}) 折扣
					#end
                    <p></p>
					<div style="color: #f60; font-size: 16px;">
						实付：￥ $!formatUtil.getAmountFormat($!{trade.price})
    					#if($!{trade.tradePoints} != 0)
    					+ 积分 $!{trade.tradePoints}
    					#end
                    </div>
                </div>
            </div>
			<hr />
			
			<br />
			
			<div class="col-xs-12">
				#if($!{trade.type} == 'check' || $!{trade.type} == 'topay')
				<a class="btn btn-success btn-block" href="${env.appUrl}/trade/confirm.htm?tradeNo=$!{trade.tradeNo}">付 款</a>
				<a class="btn btn-danger btn-block" style="margin-top: 10px;" id="cancel" data-loading-text="正在处理..." href="javascript:cancel('$!{trade.tradeId}', '$!{trade.tradeNo}');">取消订单</a>
				#elseif($!{trade.type} == 'send')
					#if($!{trade.shipment} == 'Y')
					<a class="btn btn-default btn-block" href="javascript:searchTradeExpress('$!{trade.tradeId}')">查看物流</a>
					<a class="btn btn-success btn-block" style="margin-top: 10px;" id="sign" data-loading-text="正在处理..." href="javascript:signTrade('$!{trade.tradeId}', '$!{trade.tradeNo}')">签 收</a>
					#else
					<a class="btn btn-success btn-block" id="sign" data-loading-text="正在处理..." href="javascript:signTrade('$!{trade.tradeId}', '$!{trade.tradeNo}')">签 收</a>
					#end
				<a class="btn btn-danger btn-block" style="margin-top: 10px;" id="feedback" data-loading-text="正在处理..." href="javascript:feedbackTrade('$!{trade.tradeId}', '$!{trade.tradeNo}')">申请退货</a>
				#elseif($!{trade.type} == 'tosend')
				<a class="btn btn-danger btn-block" id="feedback" data-loading-text="正在处理..." href="javascript:feedbackTrade('$!{trade.tradeId}', '$!{trade.tradeNo}')">申请退货</a>
				#end
            </div>
		</div>
		
		#JSM(["jquery", "jquery.lazyload", "messenger", "bootstrap"])
		#JS_ENV_VAL()
		<script type="text/javascript" src="$!{env.imgUrl}/js/m/trade/searchTradeDetail.js"></script>
		#HideWeixinJSBridge(["menu", "toolbar"])
    </body>
</html>