<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="moduleAction" class="com.kintiger.mall.module.action.ModuleAction" scope="request" parent="baseAction">
		<property name="moduleService" ref="moduleService" />
	</bean>
	
	<bean id="moduleService" class="com.kintiger.mall.module.service.impl.ModuleServiceImpl">
		<property name="moduleDao" ref="moduleDao" />
	</bean>
	
	<bean id="moduleDao" class="com.kintiger.mall.module.dao.impl.ModuleDaoImpl" parent="baseDao" />
	
</beans>