<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="pageviewService" class="com.jk.mall.pageview.service.impl.PageviewServiceImpl">
		<property name="pageviewDao" ref="pageviewDao" />
	</bean>
	
	<bean id="pageviewDao" class="com.jk.mall.pageview.dao.impl.PageviewDaoImpl" parent="baseDao" />
	
</beans>