<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 交易信息 -->
	<bean id="tradeAction" class="com.kintiger.mall.trade.action.TradeAction" parent="baseAction" scope="request">
		<property name="tradeService" ref="tradeService" />
		<property name="expressService" ref="expressService" />
	</bean>
	<bean id="tradeService" class="com.kintiger.mall.trade.service.impl.TradeServiceImpl">
		<property name="transactionTemplate" ref="transactionTemplate" />
		<property name="memcachedCacheService" ref="memcachedCacheService" />
		<property name="cartService" ref="cartService" />
		<property name="orderService" ref="orderService" />
		<property name="itemFileService" ref="itemFileService" />
		<property name="userAddressService" ref="userAddressService" />
		<property name="itemSkuService" ref="itemSkuService" />
		<property name="itemService" ref="itemService" />
		<property name="memberService" ref="memberService" />
		<property name="memberPointsService" ref="memberPointsService" />
		<property name="alipayService" ref="alipayService" />
		<property name="wxapService" ref="wxapService" />
		<property name="tradeExpressService" ref="tradeExpressService" />
		<property name="tradeDao" ref="tradeDao" />
	</bean>
	<bean id="tradeDao" class="com.kintiger.mall.trade.dao.impl.TradeDaoImpl" parent="baseDao" />
	
	<!-- 订单信息 -->
	<bean id="orderService" class="com.kintiger.mall.trade.service.impl.OrderServiceImpl">
		<property name="orderDao" ref="orderDao" />
	</bean>
	<bean id="orderDao" class="com.kintiger.mall.trade.dao.impl.OrderDaoImpl" parent="baseDao" />
	
	<!-- 物流信息 -->
	<bean id="tradeExpressService" class="com.kintiger.mall.trade.service.impl.TradeExpressServiceImpl">
		<property name="tradeExpressDao" ref="tradeExpressDao" />
	</bean>
	<bean id="tradeExpressDao" class="com.kintiger.mall.trade.dao.impl.TradeExpressDaoImpl" parent="baseDao" />
	
</beans>